
/*TEXT*/
.text-secondary{
	background-color: #878787 !important;
}

.text-green {
  color: #045314 !important;
}

.lead {
  font-size: 1.25rem;
  margin: auto;
  font-weight: 300;
  padding-top: 25px;
}

.team {
  font-size: 1.25rem;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-section .page-section-heading {
  font-size: 2.75rem;
  line-height: 2rem;
  padding-bottom: 20px;
}

/*COLORS*/
.bg-primary {
  background-color: #F1F2F1 !important;
}

.bg-secondary {
  background-color: #045314 !important;
}

.copyright {
  background-color: #03310C;
}

/*IMAGES*/
.masthead .masthead-avatar {
  width: 45rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/*NAVIGATION*/
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #FEFDB0;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #FEFDB0;
}

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #045314;
    background: #FEFDB0;
  }
   #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #045314;
    background: #FEFDB0;
  }
