/*BUTTON*/
body{
  line-height:1.3em;
  min-width:920px;
}
.fa{
  color: black;
}
.fa:hover{
  color: green;
}
.fab{
  color: black;
}
.fab:hover{
  color: yellow;
}
.fas{
  color: black;
}
.fas:hover{
  color: yellow;
}

.history-tl-container{
    font-family: "Roboto",sans-serif;
  width:50%;
  margin:auto;
  display:block;
  position:relative;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:170px;
    min-height:90px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:3px dashed #25c750;
    padding:0 0 30px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:10;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -17px;
    top: -2px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #25c750;
    height: 30px;
    width: 30px;
    transition: all 500ms ease-in-out

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #25c750;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
	font-size:20px;
}
ul.tl li .item-detail{
    color:rgba(0,0,0,0.7);
    font-size:15px;
    width: 200px;
}
ul.tl li .timestamp{
    color: #000000;
    position: absolute;
  	width:130px;
    left: -80%;
    text-align: right;
    font-size: 16px;
		text-decoration-color:black;
}
.btn {
	color: #2a4c09;
}
.btn-outline-light {
  color: #2a4c09;
  border-color: #2a4c09;
}

.btn-outline-light:hover {
  color: #fff;
  background-color: #2a4c09;
  border-color: #2a4c09;
}


/*TEXT*/
.text-green {
  color: #2a4c09 !important;
}

.lead {
  font-size: 1.25rem;
  margin: auto;
  font-weight: 300;
  padding-top: 25px;
}

.team {
  font-size: 1.25rem;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 55px;
}

.center {
  margin: auto;
}

.page-section .page-section-heading {
  font-size: 2.75rem;
  line-height: 2rem;
  padding-bottom: 25px;
  padding-top: 45px;
}

.center-part{
  float: center;
  padding-bottom: 25px;
  padding-top: 45px;
}
.left-half
{
  float: left;
  width:50%;
  padding-bottom: 100px;
  padding-top: 45px;
}
.left-half-2
{
  float: left;
  width:50%;
  padding-bottom: 380px;
  padding-top: 45px;
}
.right-half
{
  float: right;
  width:50%;
  padding-bottom: 0px;
  padding-top: 45px;
}
.right-half-2
{
  float: right;
  width:50%;
  padding-bottom: 80px;
  padding-top: 45px;
}
.right-half-3
{
  width:85%;
  float: right;

  padding-left: 70px;
  margin-right: 29px;

}
.column {
  float: left;
  width: 50%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.half {
  width:50%;
  display: table-cell;
}
#more {display: none;}

/*COLORS*/
.bg-white {
  background-color: #fff !important;
}

.bg-darkgreen {
  background-color:#039617
  /* neon green #39ff14 */
  /* green: #039617 */
	!important;
	/* #A1F7A1 */
	/*  #88CA5E*/
	/* dark green: #2a4c09 */
/* light green	#D2FBA4 */
}
.bg-lightgreen {
  background-color: #77DD77 !important;
}

.bg-lightgray {
  background-color: #dcf7d2;
  /* yellow:  #ffffd6 */
  /* #dcf7d2; */
  /* #c8f1c8 */
	/* o#c8f1c8; */
	/* lightgray #dbd9d9 */
}

.bg-copyright {
	background: #e4f577;
}

/*IMAGES*/
.masthead .masthead-avatar {
  width: 45rem;
}

.flyer{
  display: center;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
  padding-top: 20px;
  padding-bottom: 20px;
}


.img-fluid {
  max-width: 100%;
  height: auto;
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.poster{
	display: block;
	margin-left: auto;
	margin-right: auto;
  width: 50rem;
  padding-top: 30px;
}

.headshot{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  padding-top: 30px;
}

/*NAVIGATION*/
/* .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #1f5236;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
} */
.nav>li{position:relative;display:block}
.nav>li>a{position:relative;display:block;padding:10px 15px}.nav>li>a:focus,.nav>li>a:hover{text-decoration:none;background-color:#eee}.nav>li.disabled>a{color:#777}.nav>li.disabled>a:focus,.nav>li.disabled>a:hover{color:#777;text-decoration:none;cursor:not-allowed;background-color:transparent}.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{background-color:#eee;border-color:#337ab7}.nav .nav-divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}.nav>li>a>img{max-width:none}.nav-tabs{border-bottom:1px solid #ddd}.nav-tabs>li{float:left;margin-bottom:-1px}.nav-tabs>li>a{margin-right:2px;line-height:1.42857143;border:1px solid transparent;border-radius:4px 4px 0 0}.nav-tabs>li>a:hover{border-color:#eee #eee #ddd}.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{color:#555;cursor:default;background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent}.nav-tabs.nav-justified{width:100%;border-bottom:0}.nav-tabs.nav-justified>li{float:none}.nav-tabs.nav-justified>li>a{margin-bottom:5px;text-align:center}.nav-tabs.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}@media (min-width:768px){.nav-tabs.nav-justified>li{display:table-cell;width:1%}.nav-tabs.nav-justified>li>a{margin-bottom:0}}.nav-tabs.nav-justified>li>a{margin-right:0;border-radius:4px}.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{border:1px solid #ddd}@media (min-width:768px){.nav-tabs.nav-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{border-bottom-color:#fff}}.nav-pills>li{float:left}.nav-pills>li>a{border-radius:4px}.nav-pills>li+li{margin-left:2px}.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{color:#fff;background-color:#337ab7}.nav-stacked>li{float:none}.nav-stacked>li+li{margin-top:2px;margin-left:0}.nav-justified{width:100%}.nav-justified>li{float:none}.nav-justified>li>a{margin-bottom:5px;text-align:center}.nav-justified>.dropdown .dropdown-menu{top:auto;left:auto}@media (min-width:768px){.nav-justified>li{display:table-cell;width:1%}.nav-justified>li>a{margin-bottom:0}}.nav-tabs-justified{border-bottom:0}.nav-tabs-justified>li>a{margin-right:0;border-radius:4px}.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{border:1px solid #ddd}@media (min-width:768px){.nav-tabs-justified>li>a{border-bottom:1px solid #ddd;border-radius:4px 4px 0 0}.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{border-bottom-color:#fff}}.tab-content>.tab-pane{display:none}.tab-content>.active{display:block}.fade.in{opacity:1}



#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #e4f577;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #1f5236;
}

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #2a4c09;
    background: #e4f577;
  }
   #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #2a4c09;
    background: #e4f577;
  }
