/*BUTTON*/
.btn {
	color: #2a4c09;
}
.btn-outline-light {
  color: #2a4c09;
  border-color: #2a4c09;
}

.btn-outline-light:hover {
  color: #fff;
  background-color: #2a4c09;
  border-color: #2a4c09;
}


/*TEXT*/
.text-green {
  color: #2a4c09 !important;
}

.lead {
  font-size: 1.25rem;
  margin: auto;
  font-weight: 300;
  padding-top: 25px;
}

.team {
  font-size: 1.25rem;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 55px;
}

.center {
  margin: auto;
}

.page-section .page-section-heading {
  font-size: 2.75rem;
  line-height: 2rem;
  padding-bottom: 25px;
  padding-top: 45px;
}

#more {display: none;}

/*COLORS*/
.bg-white {
  background-color: #fff !important;
}

.bg-darkgreen {
  background-color: #2a4c09 !important;
}

.bg-lightgray {
  background-color: #dbd9d9;
}

.bg-copyright {
	background: #e4f577;
}

/*IMAGES*/
.masthead .masthead-avatar {
  width: 45rem;
}

.flyer{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
  padding-top: 30px;
}


.img-fluid {
  max-width: 100%;
  height: auto;
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.poster{
	display: block;
	margin-left: auto;
	margin-right: auto;
  width: 50rem;
  padding-top: 30px;
}

.headshot{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  padding-top: 30px;
}

/*NAVIGATION*/
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #1f5236;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #e4f577;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #1f5236;
}

  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #2a4c09;
    background: #e4f577;
  }
   #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #2a4c09;
    background: #e4f577;
  }
