<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>ZotBins - A Smart Space Initiative for Zero Waste</title>
    <link rel="icon" href="img\favicon.png" sizes="16x16" type="image/png" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://zotbins.github.io/favicon.png"
    />
    <!-- Custom fonts for this theme -->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
      rel="stylesheet"
    />
    <!-- tabs/pills -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-darkgreen fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="index.html">ZotBins</a>
        <button
          class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-white text-white rounded"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="index.html"
                >About</a
              >
            </li>
            <!-- <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#apply">Apply Now!</a>
          </li> -->
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="team.html"
                >Team</a
              >
            </li>
            <!-- <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="gallery.html"
                >Gallery</a
              >
            </li> -->
            <!--  -->
            <!-- <li class="nav-button mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="https://airtable.com/appk6UvHEwpurm68T/shrP9wadrGt8EGVsj"
                target="_blank"
                rel="noopener noreferrer"
                >Apply</a
              >
            </li> -->
            <!--   <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#updates">Updates</a>
          </li>
      <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#partners">Partners</a>
          </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- Masthead -->
    <header
      class="masthead bg-white text-white text-center"
      id="landing_page_banner"
    >
      <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image -->
        <img
          id="landing_page_logo"
          class="masthead-avatar img-fluid mb-5"
          src="img/zotbins-logo-blinky-slow.gif"
          alt="ZotBins Team Logo"
        />
      </div>
      <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css"
        rel="stylesheet"
      />
      <a href="https://github.com/zotbins"
        ><i class="fa fa-github fa-3x px-2"></i
      ></a>
      <a href="https://www.instagram.com/zotbins/"
        ><span class="fa fa-instagram fa-3x px-2"></span
      ></a>
      <a href="https://www.youtube.com/channel/UC0b3gQI-uJxT0_gnSBwXmNA"
        ><i class="fa fa-youtube-play fa-3x px-2"></i
      ></a>
    </header>
    <!-- About Section -->
    <section class="page-section" id="about_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <!-- About Section Heading -->
            <h2 class="page-section-heading text-center text-black">
              About Us
            </h2>
            <img
              class="img-fluid mb-5 w-100"
              src="img/2017-GroupPic2.jpg"
              alt="ZotBins Team Photo"
            />
            <!-- About Section Content -->
            <p>
              We are an independent group of undergraduate researchers, called
              the ZerO Waste Anteaters (ZOWA), who are passionate about
              technology-based zero waste management. We are recruiting
              volunteers who want to work on our zero waste project called
              ZotBins and make a difference for the environment. ZotBins is a
              smart waste bin system that collects data to help make waste
              management more efficient and to promote zero waste.
            </p>
            <div class="text-center mt-4">
              <a href="team.html"
                ><button
                  onclick="myFunction()"
                  class="btn btn-xl btn-outline-light"
                  id="myBtn"
                >
                  See Team
                </button></a
              >
            </div>
          </div>
          <div class="col-lg-8">
            <h2 class="page-section-heading text-center text-black">
              Subgroups
            </h2>
            <br />
            <ul class="nav nav-tabs">
              <li class="active">
                <a style="color: darkgreen" data-toggle="tab" href="#home"
                  >Web and Mobile
                </a>
              </li>
              <li>
                <a style="color: darkgreen" data-toggle="tab" href="#menu1"
                  >Waste Recognition</a
                >
              </li>
              <li>
                <a style="color: darkgreen" data-toggle="tab" href="#menu2"
                  >Embedded Systems</a
                >
              </li>
              <li>
                <a style="color: darkgreen" data-toggle="tab" href="#menu3"
                  >Hardware</a
                >
              </li>
              <li>
                <a style="color: darkgreen" data-toggle="tab" href="#menu4"
                  >API</a
                >
              </li>
            </ul>
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                <br /><br />
                <h4 class="text-center">
                  <i class="fa fa-desktop" fa-lg></i> Web and Mobile
                  <i class="fa fa-desktop" fa-lg></i>
                </h4>
                <br />
                <img
                  class="img-fluid mb-5 w-100"
                  src="img/web1.jpg"
                  alt="Web and Mobile Photo"
                />
                <p>
                  Our web and mobile engineers are dedicated to ensuring ZotBins
                  is accessible to our end users. This team is responsible for
                  building the ZotBins web and mobile app: the web app provides
                  functionality to help facilities management in cultivating a
                  sustainable campus, while the mobile app seeks to engage users
                  in more environmentally-conscious practices. Members of this
                  group are comfortable working on building an application
                  end-to-end, and have experience with UI/UX design. Common
                  tasks include designing aesthetically-pleasing user
                  interfaces, web development, and mobile app development
                  (Android and iOS).
                </p>
              </div>
              <div id="menu1" class="tab-pane fade">
                <br /><br />
                <h4 class="text-center">
                  <i class="fa fa-trash" fa-lg></i> Waste Recognition
                  <i class="fa fa-trash" fa-lg></i>
                </h4>
                <br />
                <img
                  class="img-fluid mb-5 w-100"
                  src="img/waste_rec_team.png"
                  alt="Waste Recognition Photo"
                />
                <p>
                  Computer Vision researchers are responsible for developing and
                  implementing the image recognition algorithms for our waste
                  image dataset, including image classification and image
                  localization. The algorithms are used in our ZotBins mobile
                  app as well as the physical Smart Bins hardware. Our daily
                  work may include waste image collections, data labeling, data
                  preprocessing, and algorithms development & implementation.
                </p>
              </div>
              <div id="menu2" class="tab-pane fade">
                <br /><br />
                <h4 class="text-center">
                  <i class="fa fa-database" fa-lg></i> Embedded Systems
                  <i class="fa fa-database" fa-lg></i>
                </h4>
                <br />
                <img
                  class="img-fluid mb-5 w-100"
                  src="img/systems1.jpg"
                  alt="Systems Photo"
                />
                <p>
                  The systems subgroup work on what the engineers dub the
                  “Zotbins Core” of the physical Smart Bins. Currently they’re
                  creating an RTOS application on an ESP-32. This application
                  collects useful metrics such as weight, fullness, and usage.
                  There’s also a Jetson Nano side project, which deploys Waste
                  Recognition’s PyTorch model onboard, eliminating latency of
                  calling the backend. Common tasks include programming
                  microcontrollers, collaborating with other subgroups (Hardware
                  and API), and creating diagrams to build our infrastructure.
                </p>
              </div>
              <div id="menu3" class="tab-pane fade">
                <br /><br />
                <h4 class="text-center">
                  <i class="fa fa-wrench" fa-lg></i> Hardware and Electrical
                  <i class="fa fa-wrench" fa-lg></i>
                </h4>
                <br />
                <img
                  class="img-fluid mb-5 w-100"
                  src="img/hardware1.jpg"
                  alt="Hardware Photo"
                />
                <p>
                  The hardware subgroup builds our physical Smart Bins. The
                  hardware and electrical engineers work with microcontrollers,
                  sensors, and PCBs to design robust, cost-efficient prototypes
                  capable of collecting waste weight, bin fullness, and other
                  useful metrics. Common tasks include circuit and PCB design,
                  power draw analytics, and manufacturing bin prototypes.
                </p>
              </div>
              <div id="menu4" class="tab-pane fade">
                <br /><br />
                <h4 class="text-center">
                  <i class="fa fa-cloud" fa-lg></i> API
                  <i class="fa fa-cloud" fa-lg></i>
                </h4>
                <br />
                <img
                  class="img-fluid mb-5 w-100"
                  src="img/api_team.jpg"
                  alt="Api Photo"
                />
                <p>
                  Backend developers are responsible for building and
                  maintaining APIs to bridge the gap between the low level IoT
                  edge devices and the high level user applications. This
                  position works closely with the database, so some of the tasks
                  include developing necessary API endpoints and researching for
                  an optimal way to receive and store time-series sensor data
                  from our Smart Bins.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section" id="our_team_section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <!--                    &lt;!&ndash; Team Section Heading&ndash;&gt;-->
            <!--                    <h2 class="page-section-heading text-center text-black">Our Team</h2>-->
            <!--                    <img class="flyer img-fluid w-100 text-center" src="img/group_photo_2020.jpg" alt="ZotBins Group Photo 2020">-->
            <!--                    <br>-->
            <!--                    <p>-->
            <!--                        ZotBins is organized by subgroups&#45;&#45; each with a subgroup lead and various subgroup members.-->
            <!--                        Overall, all of the subgroups are led by team leads.-->
            <!--                        Although we are an undergraduate research group and participate in research,-->
            <!--                        we are primarily focused on giving each of our team members technical, project-based working experiences. </p>-->
            <!--Partners Section Heading -->
            <h2 class="page-section-heading text-center text-black mb-0">
              Our Partners
            </h2>
            <!-- Partners Section Content -->
            <div
              id="parter_section_logos"
              class="row my-auto d-flex justify-content-center"
            >
              <div class="col-sm-6 my-auto">
                <a href="https://food.uci.edu/">
                  <img
                    class="img-fluid w-100 my-auto"
                    src="img/UCI_DINING.png"
                  />
                </a>
              </div>
              <div class="col-sm-6 my-auto">
                <a href="https://eswuci.wixsite.com/eswuci">
                  <img class="img-fluid w-100" src="img/UCI_ESW.png" />
                </a>
              </div>
              <div class="col-sm-6 my-auto">
                <a href="https://tippersweb.ics.uci.edu/">
                  <img class="img-fluid w-100" src="img/tippers.png" />
                </a>
              </div>
              <div class="col-sm-6 my-auto">
                <a
                  href="https://sustainability.uci.edu/studentinvolvement/src/"
                >
                  <img class="img-fluid w-50" src="img/src.png" />
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-half-3">
              <h2 class="page-section-heading text-center text-black">
                News Feed
              </h2>
              <div class="history-tl-container">
                <ul class="tl">
                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">February 2021<br /></div>
                    <div class="item-title">
                      Presented at ICSSC Jam for Change
                    </div>
                  </li>
                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">December 2020<br /></div>
                    <div class="item-title">
                      Presented at UCI's Sustainability Co-Curricular Working
                      Group
                    </div>
                  </li>
                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">October 2020<br /></div>
                    <div class="item-title">
                      Accepted poster paper to ACM Sensys 2020 Yokohama Japan
                      conference
                    </div>
                  </li>
                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">April 2020<br /></div>
                    <div class="item-title">
                      Submitted poster and presented to IEEE Sustech 2020
                    </div>
                  </li>
                  <li class="tl-item" ng-repeat="item in retailer_history">
                    <div class="timestamp">March 2020<br /></div>
                    <div class="item-title">
                      Featured in UCI Rising Tide magazine
                    </div>
                  </li>
                </ul>
              </div>
              <h5 class="text-center text-black">
                Check out the most recent ZotBins updates below!
              </h5>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="text-center mt-4">
              <a href="https://sites.uci.edu/zotbins/"
                ><button
                  onclick="myFunction()"
                  class="btn btn-xl btn-outline-light"
                  id="myBtn"
                >
                  View Blog
                </button></a
              >
            </div>
          </div>
          <div class="col-lg-6">
            <div class="right-half-3">
              <div class="text-center mt-4">
                <a href="history.html"
                  ><button
                    onclick="myFunction()"
                    class="btn btn-xl btn-outline-light"
                    id="myBtn"
                  >
                    View History
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="footer text-center bg-darkgreen" id="landing_page_footer">
      <div class="container">
        <div class="row">
          <!-- Footer Location -->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">Donald Bren Hall, UC Irvine.</p>
          </div>

          <!-- Footer Social Icons -->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <a href="https://github.com/zotbins"
              ><i class="fa fa-github fa-3x px-2"></i
            ></a>
            <a href="https://www.instagram.com/zotbins/"
              ><span class="fa fa-instagram fa-3x px-2"></span
            ></a>
            <a href="https://www.youtube.com/channel/UC0b3gQI-uJxT0_gnSBwXmNA"
              ><i class="fa fa-youtube-play fa-3x px-2"></i
            ></a>
          </div>
          <!-- Footer About Text -->
          <div class="col-lg-4">
            <h4 class="text-uppercase mb-4">Contact Us</h4>
            <p class="lead mb-0">ZotBinsUCI@gmail.com</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Copyright Section -->
    <section class="bg-darkgreen py-4 text-center text-green">
      <div class="container">
        <small id="zotbins_copyright_text"
          >Copyright &copy; ZotBins 2017-2023</small
        >
      </div>
    </section>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed">
      <a
        class="js-scroll-trigger d-block text-center text-white rounded"
        href="#page-top"
      >
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>
    <script src="js/more_info.js"></script>
  </body>
</html>
