<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ZotBins</title>

  <!--<link rel="icon" href="img\favicon.png" sizes="16x16" type="image/png">-->
  <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
  <link rel="shortcut icon" type="image/png" href="https://zotbins.github.io/favicon.png"/>

  <!-- Custom fonts for this theme -->

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"/>
  <!-- tabs/pills -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Theme CSS -->
  <link href="css/freelancer.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">


</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-darkgreen fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="updated_index.html">ZotBins</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-white text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
		  <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#apply">Apply Now!</a>
          </li>
		  <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="team.html">Team</a>
          </li>
		  <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#updates">Updates</a>
          </li>
      <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#partners">Partners</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead bg-white text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <a><img class="masthead-avatar mb-5" src="img/zotbins-logo.png" alt=""></a>

    </div>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"/>

      <a href="https://github.com/zotbins"><i class="fa fa-github fa-3x" style="padding-right:15px;"></i></a>
      <a href= "mailto: zotbinsuci@gmail.com"><i class="fa fa-envelope fa-3x" style="padding-right:15px;"></i></a>
      <a href= "https://www.instagram.com/zotbins/"><span class="fa fa-instagram fa-3x" style="padding-right:15px;"></span></a>
      <a href= "https://www.youtube.com/channel/UC0b3gQI-uJxT0_gnSBwXmNA"><i class="fa fa-youtube-play fa-3x" style="padding-right:15px;"></i></a>

  </header>


  <!-- About Section -->
  <section class="page-section bg-lightgray" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-black" style="margin-left: -50px;">What is ZotBins?</h2><br><br>

      <!-- About Section Content -->
      <body>
        <p style="color:black; font-size: 17px; margin-left: -100px; margin-right: -100px;">
          We are an independent group of undergraduate researchers, called the ZerO Waste Anteaters (ZOWA),
          who are passionate about technology-based zero waste management.
          We are recruiting volunteers who want to work on our zero waste project called ZotBins and
          make a difference for the environment. ZotBins is a smart waste bin system that collects data to
          help make waste management more efficient and to promote zero waste. </p>
      </body>
      </div>
    <div class="col-lg-8">
      <div class="right-half-3">
      <h2 class="page-section-heading text-center text-black" style="margin-right: -100px;">Subgroups</h2>
  <br><ul class="nav nav-tabs" style="margin-right: -150px;">
    <li class="active"><a style="color:darkgreen;" data-toggle="tab" href="#home">Web and Mobile </a></li>
    <li><a  style="color:darkgreen;" data-toggle="tab" href="#menu1">Waste Recognition</a></li>
    <li><a style="color:darkgreen;" data-toggle="tab" href="#menu2">Embedded System</a></li>
    <li><a style="color:darkgreen;" data-toggle="tab" href="#menu3">Hardware and Electrical</a></li>

  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <br><br> <h4> <i class="fa fa-desktop" fa-lg></i> Web and Mobile <i class="fa fa-desktop" fa-lg></i></h4><br>
      <p style="color:black; font-size: 17px;">Our web and mobile engineers are dedicated to ensuring ZotBins is accessible to our end users.
        This team is responsible for building the ZotBins web and mobile app: the web app provides functionality
        to help facilities management in cultivating a sustainable campus,
        while the mobile app seeks to engage users in more environmentally-conscious practices.
        Members of this group are comfortable working in the front and back ends, and have experience with UI/UX design.
        Common tasks include designing aesthetically-pleasing user interfaces, web development, and app development (Android and iOS).</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <br><br><h4><i class="fa fa-trash" fa-lg></i> Waste Recognition <i class="fa fa-trash" fa-lg></i></h4><br>
      <p style="color:black; font-size: 17px;">The waste recognition team is focused on researching different opportunities
        in computationally recognizing waste. Automatic waste detection has various benefits such as giving proper waste disposal
        instructions to students. We are currently focused on two main projects: classifying waste by image through deep learning methods
        and identifying waste products given their barcode number. This subgroup is the most recently formed team, so we are looking for
        motivated individuals who are willing to build from scratch and become future leaders.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <br><br><h4><i class="fa fa-database" fa-lg></i> Embedded System <i class="fa fa-database" fa-lg></i></h4><br>
      <p style="color:black; font-size: 17px;">	The embedded systems team enables the Smart Bin’s sensors and microcontrollers to work
        together in order to reliably collect, manage, and transfer data. Members of this group generally work on writing software
        that can handle the flow of data robustly, safely, and cleanly. Members of this group are comfortable with general IoT concepts,
        so are also comfortable working with making changes to the Smart Bin’s digital signage. Common tasks include developing and debugging
        software targeted for a microcontroller, writing code that sends data via API calls, and writing API endpoints.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <br><br><h4><i class="fa fa-wrench" fa-lg></i> Hardware and Electrical <i class="fa fa-wrench" fa-lg></i></h4><br>
      <p style="color:black; font-size: 17px;">We depend on the hardware team to build our physical Smart Bins.
        The hardware and electrical engineers work with Raspberry Pis, sensors, and PCBs to design robust,
        cost-efficient prototypes capable of collecting waste weight, bin fullness, and other useful metrics.
        Common tasks include 3D modeling and printing, circuit and PCB design, power draw analytics, and manufacturing bin prototypes.</p>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>

  </section>


  <section class="page-section">
     <div class="container">
       <div class="row">
         <div class="col-lg-6">


       <!-- Team Section Heading-->

        <h2 class="page-section-heading text-center text-black " style="margin-left: -90px;">Our Team</h2>
        <body>
          <img class="flyer" src="img/group_photo_2020.jpg" alt="">
          <br><p style="color:black; font-size: 17px; margin-left: -90px;">
            ZotBins is organized by subgroups-- each with a subgroup lead and various subgroup members.
            Overall, all of the subgroups are led by team leads.
            Although we are an undergraduate research group and participate in research,
            we are primarily focused on giving each of our team members technical, project-based working experiences. </p>
        </body>

        <div class="text-center mt-4">
        <a href="https://sites.uci.edu/zotbins/"><button onclick="myFunction()" class="btn btn-xl btn-outline-light"  style="margin-left: -90px;" id="myBtn">See More</button></a>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="right-half-3">
    <h2 class="page-section-heading text-center text-black" style="margin-left:130px;">News Feed</h2>
      <div class="history-tl-container">
        <ul class="tl">
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              20th March 2020<br> 7:00 PM
            </div>
            <div class="item-title">Wrote a Paper</div>
            <div class="item-detail">Some students got together to write a paper.</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              30th May 2020<br> 3:00 PM
            </div>
            <div class="item-title">ZotBins Virtual</div>
            <div class="item-detail">We switched to operate virtually.</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              31st October 2020<br> 9:00 PM
            </div>
            <div class="item-title">Spoopy Halloween</div>
            <div class="item-detail">ZotBins wishes you a Happy Halloween!</div>
          </li>

        </ul>
      <h5 class = 'text-center text-black'  style="margin-left: -200px;margin-right: -280px;">Check out the most recent ZotBins updates below!</h4>
      <div class="text-center mt-4" style="margin-left: 110px;">
        <a href="https://sites.uci.edu/zotbins/"><button onclick="myFunction()" class="btn btn-xl btn-outline-light" id="myBtn">Blog</button></a>
      </div>
    </div>
    </div>
    </div>
    </div>
  </div>
</div>
</section>




  <!-- Partners section -->

  <section class="page-section bg-lightgray" id="partners">
    <div class="container">

      <!--Partners Section Heading -->
      <h2 class="page-section-heading text-center text-black mb-0">Our Partners</h2>

      <!-- Partners Section Content -->
      <div class="row">
        <div class="col-sm mt-4">
          <a href="https://food.uci.edu/">
            <img src="img/UCI_DINING.png" style="padding-top: 20px" height="80" width="300">
          </a>
        </div>
        <div class="col-sm mt-4">
          <a href="https://eswuci.wixsite.com/eswuci">
            <img src="img/UCI_ESW.png" style="padding-top: 15px" height="90" width="300" hspace="15">
          </a>
        </div>
        <div class="col-sm mt-4">
          <a href="https://tippersweb.ics.uci.edu/">
            <img src="img/tippers.png" style="padding-top: 15px" height="90" width="200" hspace="20">
          </a>
        </div>
        <div class="col-sm mt-4">
          <a href="https://sustainability.uci.edu/studentinvolvement/src/">
            <img src="img/src.png" width="110" hspace="20" align="bottom">
          </a>
        </div>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="footer text-center bg-darkgreen">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location</h4>
          <p class="lead mb-0"> Donald Bren Hall, UC Irvine.
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Around the Web</h4>
          <a href="https://github.com/zotbins"><i class="fab fa-github fa-3x" style="padding-right:15px;"></i></a>
          <a href= "mailto: zotbinsuci@gmail.com"><i class="fas fa-envelope fa-3x" style="padding-right:15px;"></i></a>
          <a href= "https://www.instagram.com/zotbins/"><span class="fab fa-instagram fa-3x" style="padding-right:15px;"></span></a>
          <a href= "https://www.youtube.com/channel/UC0b3gQI-uJxT0_gnSBwXmNA"><i class="fab fa-youtube fa-3x" style="padding-right:15px;"></i></a>
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Contact Us</h4>
          <p class="lead mb-0">zotbins@uci.edu</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="bg-copyright py-4 text-center text-green">
    <div class="container">
      <small>Copyright &copy; ZotBins 2020</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>



  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/freelancer.min.js"></script>
  <script src="js/more_info.js"></script>

</body>

</html>
